/*
======================
Reset
======================
*/
:root {
  --primaryColor  : #f1f1f1;
  --black         : #222;
  --black2        : #555;
  --black3        : #252525;
  --black4        : #000;
  --black5        : #212529;
  --orange        : #eb0028;
  --white         : #fff;
  --grey          : #959595;
  --grey2         : #666;
  --grey3         : #ccc;
  --secondaryColor: #2b1f4d;
  --yellow        : #ffcc00;
  --green         : #59b210;
  --blue          : rgb(56, 10, 223);
}

* {
  margin    : 0;
  padding   : 0;
  box-sizing: inherit;
}

html {
  font-size      : 62.5%;
  box-sizing     : border-box;
  scroll-behavior: smooth;
}

body,
input {
  font-size  : 1.6rem;
  font-weight: 400;
  font-family: "Archivo", sans-serif;
  color      : var(--black);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h3,
h4 {
  font-weight: 500;
}

/*
======================
Header
======================
*/

.w-95 {
  width: 95% !important;
}

.header {
  position: relative;
}

.container {
  max-width: 117rem;
  margin   : 0 auto;
  padding  : 0 1.6rem;
}

/*
======================
Navigation
======================
*/
.nav__icons {
  display : flex;
  position: relative;
}

.icon__item img {
  width : 1.6rem;
  height: 1.6rem;
}

.nav__icons .icon__item {
  display        : flex;
  justify-content: center;
  align-items    : center;
  width          : 3.5rem;
  height         : 3.5rem;
  border         : 1px solid var(--black);
  border-radius  : 50%;
  transition     : background-color 0.3s ease-in-out;
}

.nav__icons .icon__item:link,
.nav__icons .icon__item:visited {
  color: var(--black);
}

.nav__icons .icon__item:hover {
  background-color: var(--orange);
  border          : 1px solid var(--black);
}

.nav__icons .icon__item:not(:last-child) {
  margin-right: 1rem;
}

.nav__icons #cart__total {
  font-size       : 1rem;
  position        : absolute;
  top             : 2px;
  right           : -6px;
  background-color: var(--orange);
  padding         : 0.2rem 0.4rem;
  border-radius   : 100%;
  color           : var(--primaryColor);
}

.page__title-area {
  background-color: var(--primaryColor);
}

.page__title-container {
  padding: 1rem;
}

.page__titles {
  display    : flex;
  align-items: center;
  font-size  : 1.2rem;
  color      : var(--grey2);
}

.page__titles a {
  margin-right: 2rem;
}

.page__titles a img {
  width : 1.8rem;
  height: 1.8rem;
  fill  : var(--grey2);
}

.page__title {
  position: relative;
}

.page__title::before {
  position: absolute;
  content : "/";
  top     : 0;
  left    : -1rem;
}

/*
======================
Navigation Media Query
======================
*/
@media only screen and (max-width: 768px) {
  .nav__menu {
    position        : fixed;
    top             : 5%;
    left            : -30rem;
    width           : 0;
    background-color: var(--white);
    z-index         : 9990;
    height          : 100%;
    transition      : all 0.5s;
  }

  .nav__menu.open {
    left : 30rem;
    width: 30rem;
  }

  .openNav {
    left : 0;
    width: 50%;
  }

  .nav__logo {
    width: 50%;
  }

  .nav__hamburger {
    display: block;
  }

  .menu__top {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    background-color: var(--orange);
    padding         : 1.8rem 1rem;
  }

  .menu__top img {
    height: 1.6rem;
    width : 1.6rem;
    fill  : var(--primaryColor);
  }

  .nav__category {
    color      : var(--white);
    font-size  : 2.3rem;
    font-weight: 700;
  }

  .nav__list {
    flex-direction: column;
    align-items   : start;
    padding       : 1.6rem 1rem;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
  }

  .nav__item {
    width: 100%;
  }

  .nav__list .nav__link:link,
  .nav__list .nav__link:visited {
    padding: 1.6rem 0;
    width  : 100%;
    color  : var(--grey2);
  }

  body.active::before {
    content   : "";
    position  : fixed;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 110%;
    background: var(--black) none no-repeat 0 0;
    opacity   : 0.7;
    z-index   : 999;
    transition: 0.8s;
  }
}

@media only screen and (max-width: 568px) {
  .icon__item {
    width : 3.5rem;
    height: 3.5rem;
  }

  .icon__item img {
    width : 1.4rem;
    height: 1.4rem;
  }

  .nav__icons .icon__item {
    padding: 0.4rem;
  }
}

.center {
  margin: auto;
}

.custom-carg-bg {
  background   : #2b1f4d;
  border-radius: 7px;
}

.product-links {
  display: flex;
}
.product-desc{
  padding: 5px 10px;
  margin: 2px 0;
}
.product-links .link {
  margin: 0 auto;
}
.custom-badge {
  background-color: #343a40 !important;
  color: #fff;
  font-size: 11px;
  padding: 5px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 7px
}

.time i {
  color: #cacacaa3
}


.mt-100 {
  margin-top: 100px
}

.carousel .carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  text-indent: -99px;
  cursor: pointer;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 2px
}

.product-wrapper,
.product-img {
  overflow: hidden;
  position: relative;
}
.product-price{
  position: absolute;
  top: 10px;
  right: 5px;
  background: #4fd0ed;
  border-radius: 6px;
  padding: 3px 6px;
}
.product-discount{
  position: absolute;
  top: 10px;
  left: 5px;
  background: #4fd0ed;
  border-radius: 6px;
  padding: 3px 6px;
}

.mb-45 {
  margin-bottom: 45px
}

.product-action {
  bottom: 0px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  transition: all 0.6s ease 0s
}

.product-action-style {
  background-color: #fff;
  box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
  display: inline-block;
  padding: 16px 2px 12px
}

.product-action-style>a {
  color: #df8585;
  line-height: 1;
  padding: 0 21px;
  position: relative
}
.product-action-style>a:hover {
  color: #4fd0ed;
  line-height: 1;
  padding: 0 21px;
  position: relative
}

.product-action-style>a.action-plus {
  font-size: 18px
}

.product-wrapper:hover .product-action {
  bottom: 20px;
  opacity: 1
}
.rounded-6px{
  border-radius: 6px;
}



.carousel-card {
  max-width: 1000px;
  width: 100%;
  padding: 4rem;
  background-color: rgb(46, 45, 45);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

@media(max-width:768px) {
  .carousel-card {
      width: 100%;
      padding: 1.5rem
  }
}

.row {
  margin: 0
}

.path {
  color: grey;
  margin-bottom: 1rem
}

.path a {
  color: #ffffff
}

.info {
  padding: 6vh 0vh
}

@media(max-width:768px) {
  .info {
      padding: 0
  }
}

.checked {
  color: rgb(255, 217, 0);
  margin-right: 1vh
}

.fa-star-half-full {
  color: rgb(255, 217, 0)
}

.carousel-img {
  height: fit-content;
  width: 75%;
  padding: 1rem
}

@media(max-width:768px) {
  .carousel-img {
      padding: 2.5rem 0
  }
}

.title .col {
  padding: 0
}

.fa-heart-o {
  font-size: 2rem;
  color: #ffffffaf;
  font-weight: lighter
}

#reviews {
  margin-left: 3vh;
  color: grey
}

.price {
  margin-top: 2rem
}

label.radio span {
  padding: 1vh 4vh;
  background-color: rgb(54, 54, 54);
  color: grey;
  display: inline-block;
  margin-right: 2vh
}

label.radio input:checked+span {
  border: 1px solid white;
  padding: 1vh 4vh;
  background-color: rgb(54, 54, 54);
  margin-right: 2vh;
  color: #ffffff;
  display: inline-block
}

.carousel-control-prev {
  width: unset
}

.carousel-control-next {
  left: 8vh;
  right: unset;
  width: unset
}

.lower {
  display: flex;
  margin-top: 3rem
}

.lower i {
  padding: 2.5vh;
  margin-right: 1vh;
  color: grey;
  border: 1px solid rgb(85, 85, 85)
}

.lower .col {
  padding: 0
}

@media(max-width:768px) {
  .lower i {
      padding: 2vh;
      margin-right: 1vh;
      color: grey;
      border: 1px solid rgb(85, 85, 85)
  }
}

.btn {
  background-color: transparent;
  border-color: rgba(186, 216, 125, 0.863);
  color: rgba(186, 216, 125, 0.863);
  padding: 1.8vh 4.5vh;
  height: fit-content;
  border-radius: 3px
}

.btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none
}

.btn:hover {
  color: white
}

@media(max-width:768px) {
  .btn {
      background-color: transparent;
      border-color: rgba(186, 216, 125, 0.863);
      color: rgba(186, 216, 125, 0.863);
      padding: 1vh;
      font-size: 0.9rem;
      height: fit-content;
      border-radius: 3px
  }
}

a {
  color: unset
}

a:hover {
  color: unset;
  text-decoration: none
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none
}

label.radio {
  cursor: pointer
}


/* ---------Watch Card ------------- */

.watch-card {
  margin: 0 auto;
  width: 350px;
  border: none;
  height: 350px;
  border: solid 1px #4fd0ed;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  overflow: hidden
}

.p-info {
  display: flex;
  justify-content: space-between
}

.p-price {
  position: absolute;
  right: 10px;
  top: 20px
}

.heart i {
  font-size: 50px;
  opacity: 0;
  color: red
}

.heart i:hover {
  color: red
}

.p-image img {
  width: 240px;
  transform: rotate(15deg);
  transition: all 0.5s
}

.watch-card:hover .heart i {
  animation: heart 300ms ease-in forwards;
  animation-delay: 500ms
}

.p-about {
  position: absolute;
  width: 170px;
  font-size: 10px;
  top: 140px;
  left: -125px;
  opacity: 0
}

.watch-card:hover .p-about {
  animation: content 300ms ease-in forwards
}

@keyframes content {
  0% {
      opacity: 0
  }

  100% {
      opacity: 1;
      left: 25px
  }
}

@keyframes heart {
  0% {
      opacity: 0
  }

  100% {
      opacity: 1
  }
}

.watch-card:hover .p-image img {
  animation: onimage 300ms ease-in forwards
}

.watch-card:hover .p-price {
  animation: onprice 500ms ease-in forwards
}

@keyframes onprice {
  0% {
      right: 10px;
      top: 20px
  }

  50% {
      right: 60px;
      top: 30px
  }

  100% {
      right: 245px;
      top: 70px
  }
}

@keyframes onimage {
  0% {
      width: 250px
  }

  50% {
      width: 200px;
      transform: translateY(-30px);
      transform: translateX(100px)
  }

  100% {
      width: 180px;
      top: 100px;
      transform: translateY(100px);
      transform: translateX(110px)
  }
}

.buttons {
  position: absolute;
  bottom: -150px
}

.watch-card:hover .buttons {
  animation: buttons 500ms ease-in forwards
}

@keyframes buttons {
  0% {
      bottom: -100px
  }

  100% {
      bottom: 20px
  }
}

.watch-btn {
  height: 50px;
  font-size: 16px;
  width: 140px !important;
  font-weight: 600
}
.section-header-img{
  width: 20px;
  height: 20px;
}